/* shared style */
body {
  font-family: "Poppins", sans-serif;
}

.btn {
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
  padding: 10px 24px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}
/* navbar styles */
nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul a {
  text-decoration: none;
}
.nav-tittle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
}
.nav-content {
  font-size: 1rem;
  font-weight: 500;
  color: #3a3a3a;
}

/* banner styles */
#banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
#banner button {
  margin-top: 16px;
}
.banner-left {
  width: 50%;
  margin-bottom: 16px;
}
.banner-right img {
  max-width: 440px;
  max-height: 414px;
  margin: 80px auto 100px auto;
}

.banner-tittle {
  font-size: 3.25rem;
  font-weight: bold;
}
.banner-description {
  font-size: 1rem;
  font-weight: bold;
}
/* sponsonr-companies section */

.sponsonr-companies {
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 2px solid whitesmoke;
  background-color: white;
  padding: 35px 60px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
